Package: zlib-dev
Version: 1.2.11-1
Depends: libc, zlib
Source: package/zlib-v1.2.11
License: Zlib
LicenseFiles: README
Section: devel
Architecture: ar71xx
Installed-Size: 72414
Description:  zlib is a lossless data-compression library.
 This package includes the development support files.
