Package: ldd
Version: 0.9.33.2-1
Source: feeds/base/package/libs/toolchain
License: GPL-3.0-with-GCC-exception
Section: utils
Status: unknown hold not-installed
Essential: yes
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ar71xx
Installed-Size: 4796
Description:  LDD trace utility
