Package: zlib
Version: 1.2.11-1
Depends: libc
Source: package/zlib-v1.2.11
License: Zlib
LicenseFiles: README
Section: libs
Architecture: ar71xx
Installed-Size: 38936
Description:  zlib is a lossless data-compression library.
 This package includes the shared library.
